@media all {
  /* line 66, ../../source/sass/mixins.scss */
  .featherlight {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    background: #333;
    background: transparent;
  }
  /* line 79, ../../source/sass/mixins.scss */
  .featherlight:last-of-type {
    background: rgba(0, 0, 0, 0.8);
  }
  /* line 82, ../../source/sass/mixins.scss */
  .featherlight:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
  /* line 89, ../../source/sass/mixins.scss */
  .featherlight .featherlight-content {
    position: relative;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    overflow: auto;
    padding: 25px 25px 0;
    border-bottom: 25px solid transparent;
    min-width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    max-height: 95%;
    background: #fff;
    cursor: auto;
    white-space: normal;
  }
  /* line 105, ../../source/sass/mixins.scss */
  .featherlight .featherlight-inner {
    display: block;
  }
  /* line 108, ../../source/sass/mixins.scss */
  .featherlight .featherlight-close-icon {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    line-height: 25px;
    width: 25px;
    cursor: pointer;
    text-align: center;
    font: Arial, sans-serif;
    background: #fff;
    background: rgba(255, 255, 255, 0.3);
    color: #000;
  }
  /* line 122, ../../source/sass/mixins.scss */
  .featherlight .featherlight-image {
    width: 100%;
  }
  /* line 125, ../../source/sass/mixins.scss */
  .featherlight iframe {
    border: none;
  }

  /* line 129, ../../source/sass/mixins.scss */
  .featherlight-iframe .featherlight-content {
    border-bottom: 0;
    padding: 0;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 135, ../../source/sass/mixins.scss */
  .featherlight .featherlight-content {
    margin-left: 10px;
    margin-right: 10px;
    max-height: 98%;
    padding: 10px 10px 0;
    border-bottom: 10px solid transparent;
  }
}
/* line 5, ../../source/sass/theme.sass */
body {
  min-width: 960px;
  background: url("../images/theme/theme-top-right.png") no-repeat top right, url("../images/theme/theme-top-left.png") no-repeat top left, #19092c;
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5 / 4), (min-resolution: 120dpi) {
  /* line 5, ../../source/sass/theme.sass */
  body {
    background-image: url("../images/theme/theme-top-right@2x.png"), url("../images/theme/theme-top-left@2x.png");
    background-size: 327px 617px, 800px 974px;
  }
}

/* line 14, ../../source/sass/theme.sass */
#main-container #content .title-bar {
  border-top: none;
}

/* line 20, ../../source/sass/theme.sass */
header #logo {
  width: 100%;
  height: 200px;
}
/* line 23, ../../source/sass/theme.sass */
header #logo a {
  width: 100%;
  height: 200px;
  background: url(../images/theme/logo.png) no-repeat left center;
  background-size: 199px 200px;
  display: block;
  text-align: left;
  text-indent: -10000px;
}

/* line 33, ../../source/sass/theme.sass */
.header-data .container h3 {
  text-indent: -10000px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-top: 9px;
}
/* line 39, ../../source/sass/theme.sass */
.header-data .container h3:first-child {
  height: 13px;
  width: 258px;
  background-image: url(../images/theme/theme-dates.png);
}
/* line 43, ../../source/sass/theme.sass */
.header-data .container h3:last-child {
  height: 13px;
  width: 234px;
  background-image: url(../images/theme/theme-location.png);
}

/* line 48, ../../source/sass/theme.sass */
#footer {
  background-image: url("../images/theme/theme-footer.png");
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-top: 200px;
  margin-top: -50px;
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5 / 4), (min-resolution: 120dpi) {
  /* line 48, ../../source/sass/theme.sass */
  #footer {
    background-image: url("../images/theme/theme-footer@2x.png");
    background-size: 1200px 229px;
  }
}
@media screen and (min-width: 1900px) {
  /* line 48, ../../source/sass/theme.sass */
  #footer {
    padding-top: 325px;
  }
}
/* line 57, ../../source/sass/theme.sass */
#footer .footer-left, #footer .footer-right {
  text-shadow: 0 0 5px #131821;
}

/* line 60, ../../source/sass/theme.sass */
.bsfs-button {
  background-image: url(../images/theme/theme-reel.png);
  background-repeat: no-repeat;
  background-position: 245px center;
  background-size: 67px 61px;
}
