<footer class="home-footer">
  <div class="home-footer-link">
    <a href="/show/passes"><h5>Passes</h5></a>
    <p>The Big Spring Film Festival features more than 32 programs</p>
    <a class="home-link-more" href="/show/passes">Read More</a>
  </div>
  <div class="home-footer-link">
    <a href="/show/travel"><h5>Travel</h5></a>
    <p>As flights into the Big Spring area are limited, attendees are strongly</p>
    <a class="home-link-more" href="/show/travel">Read More</a>
  </div>
  <div class="home-footer-link">
    <a href="/sponsors"><h5>Sponsors</h5></a>
    <p>As a non-profit arts organization, you could say the Big Spring Film Festival</p>
    <a class="home-link-more" href="/sponsors">Read More</a>
  </div>
</footer>


			</div>
		</main>

	</div>

	<!-- Footer -->
	<footer id="footer">

  <div class="container">

    <div class="footer-left">
      <p>© 2016 National Film Preserve, Ltd</p>
    </div>

    <div class="footer-center">
      <ul>
        <li><a href="/legal/contact_us">Contact Us</a></li>
        <li><a href="/legal/privacy">Privacy</a></li>
        <li><a href="/legal/terms">Terms of Use</a></li>
        <li><a href="#" data-featherlight="#credits">Credits</a></li>
      </ul>
    </div>

    <div class="footer-right">
      <p>Poster Art © Big Spring Film Society 2016</p>
    </div>

  </div>

</footer>
