<!-- Header -->
<header id="header">
  <div class="header-data">
    <div class="container">
    <h3>September 2 - 5, 2016</h3>
    <h3>Big Spring, Texas</h3>
    </div>
  </div>

  <div class="container">
    <h1 id="logo">
      <a href="http://bigspringfilm.org/">
        Big Spring Film Festival
      </a>
    </h1>
    <nav>
      <ul>
        <li ><a href="/show">The Show</a></li>
<li ><a href="/news">News</a></li>
<li ><a href="/students">Students</a></li>
<li ><a href="/sponsors">Sponsorship</a></li>
<li ><a href="/film_entry">Film Entry</a></li>
<li ><a href="/press">Press</a></li>      </ul>
    </nav>
  </div>

</header>
