   <div class="photo-slideshow" id="home-photos" data-autoplay="true">
                  <div class="photo-container">
                <div class="photo active" data-photo="1">
          <img src="/images/promo/562/Brandon_Kate_Dusty.jpg" alt="1st Big Spring Film Festival 1849">
          <div class="photo-info">
            <p>1st Big Spring Film Festival 1849 <span>(by Josh Cox)</span></p>
          </div>
        </div>
                <div class="photo " data-photo="2">
          <img src="/images/promo/562/CE3Kdark.jpg" alt="Close Encounters of the Third Kind">
          <div class="photo-info">
            <p>The very first showing from the BSFS was Close Encounters of the Third Kind <span>(by Kate Rowan)</span></p>
          </div>
        </div>
                <div class="photo " data-photo="3">
          <img src="/images/promo/562/downtown_showing_july_15_2011.jpg" alt="Downtown Showing July 15th 2011">
          <div class="photo-info">
            <p>Downtown Showing July 15th 2011 <span>(by Josh Cox)</span></p>
          </div>
        </div>
                <div class="photo " data-photo="4">
          <img src="/images/promo/562/CloseEncountersOfTheThirdKind.jpg" alt="The very first BSFS title screen">
          <div class="photo-info">
            <p>The first BSFS title screen <span>(by Kate Rowan)</span></p>
          </div>
        </div>
                <div class="photo " data-photo="5">
          <img src="/images/promo/562/Screen_Up_For_The_First_Time.jpg" alt="Screen Up For The First Time">
          <div class="photo-info">
            <p>Screen up for the first time <span>(by Kate Rowan)</span></p>
          </div>
        </div>
              </div>
      <ul class="photo-navigation">
                <li data-thumbnail="1" class="active">
          <img src="/images/promo/85/Brandon_Kate_Dusty.jpg" alt="1st Big Spring Film Festival 1849">
        </li>
                <li data-thumbnail="2" >
          <img src="/images/promo/85/CE3Kdark.jpg" alt="Close Encounters of the Third Kind">
        </li>
                <li data-thumbnail="3" >
          <img src="/images/promo/85/downtown_showing_july_15_2011.jpg" alt="Downtown Showing July 15th 2011">
        </li>
                <li data-thumbnail="4" >
          <img src="/images/promo/85/CloseEncountersOfTheThirdKind.jpg" alt="Close Encounters of the Third Kind">
        </li>
                <li data-thumbnail="5" >
          <img src="/images/promo/85/Screen_Up_For_The_First_Time.jpg" alt="Screen Up For The First Time">
        </li>
              </ul>
    </div>
